<div class="container mt-[9rem] w-full flex-col h-full flex justify-center items-center p-4">
  <h1 class="text-4xl md:text-6xl font-bold text-[#333]">
    {{ 'general.404.title' | t }}.
  </h1>
  <p>
    {{ 'general.404.subtext_html' | t }}
  </p>
</div>