<div class="px-4 py-8">
  {% paginate collection.products by section.settings.number_of_products %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}

          {% render 'product-card'
            , product: product %}

        {% else %}
          <p>No products found</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination'
      , snippet_paginate: paginate %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Colleciton",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      }, {
        "type": "range",
        "id": "number_of_products",
        "min": 3,
        "max": 48,
        "step": 3,
        "default": 6,
        "label": "Number of products per page"
      }, {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": true
      }
    ]
  }
{% endschema %}