<div class="container mt-[9rem] w-full flex-col h-full flex justify-center gap-6 items-center p-4">
  <h1 class="text-4xl md:text-6xl font-bold text-[#333]">
    {{ section.settings.title }}
  </h1>
  <p class="">
    {{ section.settings.subtext }}
  </p>
</div>

{% schema %}
  {
    "name": "Template 404",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Not found.",
        "label": "Title"
      }, {
        "type": "text",
        "id": "subtext",
        "default": "The page you were looking for does not exist.",
        "label": "Subtext"
      }
    ]
  }
{% endschema %}